{% extends "payment/base_layout.html" %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ title }}: {{ result }}</div>
        <div class="panel-body">
            <p>order_id:{{ order_id }}</p>
            <p>amount:{{ amount }}</p>
            <p>order_desc:{{ order_desc }}</p>
            <p>vnp_TransactionNo:{{ vnp_TransactionNo }}</p>
            {% if vnp_ResponseCode == '00' %}
                <p>vnp_ResponseCode: {{ vnp_ResponseCode }} - Thành công</p>
            {% else %}
                <p>vnp_ResponseCode: {{ vnp_ResponseCode }} - Lỗi</p>
            {% endif %}
            {% if msg %}
                <p class="alert-warning"> {{ msg }}</p>
            {% endif %}
        </div>
    </div>
    <form method="POST" action="{% url 'home'%}">
        {% csrf_token %}
        <input type="hidden" id="user" name="user" value="">
        <input type="hidden" id="ngay_nhan" name="ngay_nhan" value="">
        <input type="hidden" id="ngay_tra" name="ngay_tra" value="">
        <input type="hidden" id="so_luong_dem" name="so_luong_dem" value="">
        <input type="hidden" id="phong_id" name="phong_id" value="">
        <input type="hidden" id="dongia" name="dongia" value="">
        <button type="submit" >Trang chủ</button>
    </form>
    <script>
            // Đọc giá trị từ cookie
        function getCookie(name) {
            var cookieArr = document.cookie.split(';');
            for (var i = 0; i < cookieArr.length; i++) {
                var cookiePair = cookieArr[i].split('=');
                var key = cookiePair[0].trim();
                if (key === name) {
                    return decodeURIComponent(cookiePair[1]);
                }
            }
            return null;
        }

        // Lấy giá trị từ cookie
        var totalPrice = getCookie('totalPrice');
        var user = getCookie('user');
        var phong_id = getCookie('phong_id');
        var ngay_gio_nhan = getCookie('ngay_gio_nhan');
        var ngay_gio_tra = getCookie('ngay_gio_tra');
        var soluong = getCookie('soluong');

        // Sử dụng các giá trị lấy từ cookie để đặt phòng mới
        console.log('Total Price:', totalPrice);
        console.log('User:', user);
        console.log('Phong ID:', phong_id);
        console.log('Ngay gio nhan:', ngay_gio_nhan);
        console.log('Ngay gio tra:', ngay_gio_tra);
        console.log('So luong:', soluong);
    </script>
{% endblock %}
