{% extends "admin/base_site.html" %}

{% block extrastyle %}
<style>
    /* CSS inline cho tiêu đề */
    h1 {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
    }

    /* CSS inline cho bảng */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    /* CSS inline cho phần đầu bảng */
    table thead th {
        background-color: #f2f2f2;
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    /* CSS inline cho các dòng trong bảng */
    table tbody tr {
        border: 1px solid #ddd;
    }

    /* CSS inline cho các ô trong bảng */
    table tbody td {
        padding: 8px;
    }
</style>
{% endblock %}

{% block content %}
<h1>Thống kê điểm trung bình đánh giá của khách sạn</h1>
<table>
    <thead>
        <tr>
            <th>Khách sạn</th>
            <th>Điểm đánh giá trung bình</th>
        </tr>
    </thead>
    <tbody>
        {% for stat in rating_stats %}
        <tr>
            <td>{{ stat.hoadon__khachsan__tenkhachsan }}</td>
            <td>{{ stat.avg_rating }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
