{% load static  %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--css-->
      
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
      <link href="{% static 'app/css/css.css'%}" rel= "stylesheet"/>
      
      <!-- add the links of bootstrap, font, icons -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      {% comment %} <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"> {% endcomment %}
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
      <script type="text/javascript">
        var user='{{request.user}}'
      </script>

      <title>TravelNest.com</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="">
</head>
  <body>
      <!--header-->
      <nav class="navbar navbar-expand-lg knav bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand nav1"  href="{% url 'home'%}">
            <h3 class="heading-logo">Travel<span>Nest</span></h3>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Tải ứng dụng 
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Quét QR</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Hỗ trợ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'dondatphong'%}">Chuyến đi</a>
                {% comment %}  {% endcomment %}
              </li>
              <li class="nav-item dropdown">
                <div class="dropdown">
                  <select class="form-select" id="currency-select">
                    <option selected>VND</option>
                    <option value="VietNam">Việt Nam</option>
                    <option value="SouthKorea">Hàn Quốc</option>
                    <option value="Japan">Nhật Bản</option>
                    <option value="Thailand">Thái Lan</option>
                  </select>
                </div>
              </li>
              <li class="nav-item">
                <a id="register-link" href="{%url 'dangky'%}"><button class='btdn'>Đăng ký</button></a>
              </li>
              <li class="nav-item">
                <a id="login-link" href="{%url 'dangnhap'%}"><button class='btdn'>Đăng nhập</button></a>
              </li>
              <li class="nav-item nav-l">
                <a href="/admin/" style="text-decoration: none; color: black;" id="welcome-user">
                  <img class="icon" src ="{% static 'app/images/user.png' %}">{{user.username}}</img>
                </a>
              </li>
              <li class="nav-item">
                <a id="logout-link" href="{%url 'dangnhap'%}"><button class='btdx'>Đăng xuất</button></a>
              </li>
            </ul>
          </div>
        </div>
      </nav> 
      <!--main-->
      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" style="color:red; background: #FDE49E;font-style: italic;" >{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% block content %}
      {% endblock content %}
      <!-- footer -->
      <footer>
        <div class="footer-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <h3 class="heading-logo footer-logo">Travel<span>Nest</span></h3> 
                        <p class="footer-para">Hãy đi khi còn có thể. Khám phá thế thới với TravelNest!</p>
                    
                        <h5 class="heading-sm-footer">Theo dõi tại</h5>
                        <div class="social-links-footer">
                            <i class="fa-brands icon-social-footer fa-facebook"></i>
                            <i class="fa-brands icon-social-footer fa-instagram"></i>
                            <i class="fa-brands icon-social-footer fa-linkedin-in"></i>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pages-footer">
                        <h3 class="heading-pages">Liên kết trang</h3>
                        <!-- navbar copy from top navbar -->
                        <ul class="navbar-nav ms-auto">
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Tải ứng dụng 
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Quét QR</a></li>
                            </ul>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Đã lưu</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Hỗ trợ</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Chuyến đi</a>
                          </li
                        </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <h3 class="heading-pages">Liên Hệ</h3>
                        <p class="contact-footer">
                            <span class="text-contact"><i class="fa-solid footer-icons fa-location-dot"></i>Nha Be, Tp. HCM</span>
                            <span class="text-contact"><i class="fa-solid footer-icons fa-envelope"></i>TravelNest@gmail.com</span>
                            <span class="text-contact"><i class="fa-solid footer-icons fa-phone"></i>+84 147 1024 223</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="footer-rights">
                <p class="rights-para">Copyright © TravelNest. All Rights Reserved.</p>
            </div>
        </div>
      </footer>
      
      <!-- bootstrap js script -->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
      <!--js-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://kit.fontawesome.com/caaa2eeb69.js" crossorigin="anonymous"></script>
      <script src="{% static 'app/js/newscript.js'%}"></script>
      <script src="{% static 'app/js/search.js'%}"></script>
      {% comment %} <script src="{% static 'app/js/datphong.js'%}"></script> {% endcomment %}
      <script src="{% static 'app/js/map.js'%}"></script>
      <script src="{% static 'app/js/scroll.js'%}"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
        function goBack() {
          window.history.back();
        }
      </script>
      <script>
        // Gọi biến isAuthenticated trong HTML
        var isAuthenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
        
       // Sử dụng biến isAuthenticated
        function updateUI() {
          if (isAuthenticated) {
              document.getElementById("welcome-user").style.display = "block";
              document.getElementById("logout-link").style.display = "block";
              document.getElementById("register-link").style.display = "none";
              document.getElementById("login-link").style.display = "none";
          } else {
              document.getElementById("welcome-user").style.display = "none";
              document.getElementById("logout-link").style.display = "none";
              document.getElementById("register-link").style.display = "block";
              document.getElementById("login-link").style.display = "block";
          }
        }
        // Sự kiện khi người dùng nhấn vào nút "Logout"
        document.getElementById("logout-link").addEventListener("click", function() {
          // Thực hiện xử lý đăng xuất ở đây. Ví dụ, có thể sử dụng fetch API để gửi yêu cầu đăng xuất đến máy chủ.
          fetch("{% url 'logout' %}", {
              method: "POST",
              headers: {
                  "X-CSRFToken": "{{ csrf_token }}"
              }
          }).then(function(response) {
              if (response.ok) {
                  isAuthenticated = false; // Đặt biến isAuthenticated thành false sau khi đăng xuất thành công.
                  updateUI(); // Cập nhật giao diện.
              }
          }).catch(function(error) {
              console.error("Error logging out: " + error);
          });
        });

        // Gọi hàm updateUI ban đầu
        updateUI();
      </script>
      {% comment %} <script>
        $(document).ready(function () {
            $(".tinh-item").click(function () {
                var tinhId = $(this).data("tinh-id");
                var tinhName = $(this).data("tinh-name");
                var url = "{% url 'ds' %}?tinh_id=" + tinhId + "&tinh_name=" + encodeURIComponent(tinhName);
                window.location.href = url;
            });
        });
      </script> {% endcomment %}
      
      {% comment %} <script>
        function updateHuyenList() {
            const tinhId = $('#search_tinh_id').val();
            $.ajax({
                url: "{% url 'update_huyen_list' %}",
                data: {'tinh_id': tinhId},
                success: function(data) {
                    const khuVucDiv = $('#id_khu_vuc');
                    khuVucDiv.empty();
                    $.each(data.huyen_list, function(index, item) {
                        khuVucDiv.append('<label><input type="checkbox" name="khu_vuc" value="' + item.id + '"> ' + item.tenhuyen + '</label><br>');
                    });
                }
            });
        }
      </script>  {% endcomment %}
      <script>
        function updateHuyenList() {
            const tinhId = $('#search_tinh_id').val();
            const search = $('#search_tinh_id').val();  // Lấy giá trị search từ input
    
            $.ajax({
                url: "{% url 'update_huyen_list' %}",
                data: {
                    'tinh_id': tinhId,
                    'search': search
                },
                success: function(data) {
                    const khuVucDiv = $('#id_khu_vuc');
                    khuVucDiv.empty();
                    $.each(data.huyen_list, function(index, item) {
                        khuVucDiv.append('<label><input type="checkbox" name="khu_vuc" value="' + item.id + '"> ' + item.tenhuyen + '</label><br>');
                    });
                }
            });
        }
    
        {% comment %} // Gọi updateHuyenList khi thay đổi input search
        $('#search_tinh_id').on('input', function() {
            updateHuyenList();
        }); {% endcomment %}
    
        // Gọi updateHuyenList khi thay đổi tinh_id
        $('#search_tinh_id').change(function() {
            updateHuyenList();
        });
      </script>
    
      {% comment %} <script>
        $(document).ready(function() {
            $('#search-form input[type="checkbox"]').on('change', function() {
                $.ajax({
                    url: $('#search-form').attr('action'),
                    data: $('#search-form').serialize(),
                    dataType: 'json',
                    success: function(data) {
                        $('#search-results').html(data.html);
                    }
                });
            });
        });
      </script> {% endcomment %}
   
       <script>
          $(document).ready(function() {
              $('#search-form input[type="checkbox"], #search-form select, #search-form input[type="text"], #search-form input[type="number"]').on('change', function() {
                  $('#search-form').submit();
              });
          });
        </script>
      <script>
        $(document).ready(function () {
            $(".ks-item").click(function () {
                var ksId = $(this).data("ks-id");
                var ksName = $(this).data("ks-name");
                var ngayNhan = document.getElementById("check-in").value;
                var ngayTra = document.getElementById("check-out").value;
                var url = "{% url 'ks' %}?khachsan_id=" + ksId + "&ngay_nhan=" + ngayNhan + "&ngay_tra=" + ngayTra;
                window.location.href = url;
            });
        });
      </script>
      <script>
        document.getElementById("homeForm").addEventListener("submit", function(event) {
            event.preventDefault();
            // Lấy giá trị từ các trường nhập
            var search_tinh = document.getElementById("search_tinh_id").value;
            var checkin_date = document.getElementById("check-in").value;
            var checkout_date = document.getElementById("check-out").value;
            var soluong = document.getElementById("guestCountButton").textContent;
            // Lưu giá trị vào localStorage
            sessionStorage.setItem("search_tinh", search_tinh);
            sessionStorage.setItem("checkin_date", checkin_date);
            sessionStorage.setItem("checkout_date", checkout_date);
            sessionStorage.setItem("soluong", soluong);
            // Tiến hành submit form
            this.submit();
        });
      </script> 
      
      <script>
        // Kiểm tra xem có giá trị đã lưu trong localStorage hay không
        var savedSearchTinh = sessionStorage.getItem("search_tinh");
        var savedCheckinDate = sessionStorage.getItem("checkin_date");
        var savedCheckoutDate = sessionStorage.getItem("checkout_date");
        var savedSoLuong= sessionStorage.getItem("soluong");
        
        if (savedSearchTinh) {
            document.getElementById("search_tinh_id").value = savedSearchTinh;
        }
        
        if (savedCheckinDate) {
            document.getElementById("check-in").value = savedCheckinDate;
        }
        
        if (savedCheckoutDate) {
            document.getElementById("check-out").value = savedCheckoutDate;
        }
        if (savedSoLuong) {
          document.getElementById("guestCountButton").textContent = savedSoLuong;
        }
        
        document.getElementById("homeForm").addEventListener("submit", function(event) {
            event.preventDefault();
            // Lấy giá trị từ các trường nhập
            var search_tinh = document.getElementById("search_tinh_id").value;
            var checkin_date = document.getElementById("check-in").value;
            var checkout_date = document.getElementById("check-out").value;
            var soluong = document.getElementById("guestCountButton").textContent;
            // Lưu giá trị vào localStorage
            sessionStorage.setItem("search_tinh", search_tinh);
            sessionStorage.setItem("checkin_date", checkin_date);
            sessionStorage.setItem("checkout_date", checkout_date);
            sessionStorage.setItem("soluong", soluong);
            // Tiến hành submit form
            this.submit();
            
        });
      </script> 
      <script>
        // Kiểm tra xem có giá trị đã lưu trong localStorage hay không
        var savedCheckinDate = sessionStorage.getItem("checkin_date");
        var savedCheckoutDate = sessionStorage.getItem("checkout_date");
        var savedSoLuong= sessionStorage.getItem("soluong");
        
        
        if (savedCheckinDate) {
            document.getElementById("check-in").value = savedCheckinDate;
        }
        
        if (savedCheckoutDate) {
            document.getElementById("check-out").value = savedCheckoutDate;
        }
        if (savedSoLuong) {
          document.getElementById("guestCountButton").textContent = savedSoLuong;
        }
        
        document.getElementById("ksform").addEventListener("submit", function(event) {
            event.preventDefault();
            // Lấy giá trị từ các trường nhập
            var checkin_date = document.getElementById("check-in").value;
            var checkout_date = document.getElementById("check-out").value;
            var soluong = document.getElementById("guestCountButton").textContent;
            // Lưu giá trị vào localStorage
            sessionStorage.setItem("checkin_date", checkin_date);
            sessionStorage.setItem("checkout_date", checkout_date);
            sessionStorage.setItem("soluong", soluong);
            // Tiến hành submit form
            this.submit();
        });
      </script>
      <script>
        function updateAction() {
          var form = document.getElementById('ksform');
          var ksId = form.dataset.ksId;
          var ngayNhan = document.getElementById("check-in").value;
          var ngayTra = document.getElementById("check-out").value;
          var newAction = "{% url 'ks' %}?khachsan_id=" + ksId + "&ngay_nhan=" + ngayNhan + "&ngay_tra=" + ngayTra;
          form.action = newAction;
        }
      </script>

      <script>
        document.addEventListener('DOMContentLoaded', function () {
          var modalButtons = document.querySelectorAll('button[data-bs-target="#exampleModal"]');
          var phongIdInput = document.querySelector('input[name="phong_id"]');
          
          modalButtons.forEach(function (modalButton) {
              modalButton.addEventListener('click', function (event) {
                  var phongId = event.currentTarget.getAttribute('data-phong');
                  phongIdInput.value = phongId;
              });
          });
      });
      </script>
      <script>
        $(document).ready(function () {
            // Lấy tinh_id và tinh_name từ context
            var tinh_id = '{{ tinh_id }}';
            var tinh_name = '{{ tinh_name }}';
            
            // Nếu tinh_id và tinh_name tồn tại, tự động điền vào ô tìm kiếm và hidden input
            if (tinh_id && tinh_name) {
                $('#search_tinh_id').val(tinh_name);
                $('input[name="tinh_id"]').val(tinh_id);
            } else {
                // Nếu không, kiểm tra giá trị đã lưu trong sessionStorage
                var savedSearchTinh = sessionStorage.getItem("search_tinh");
                if (savedSearchTinh) {
                    $('#search_tinh_id').val(savedSearchTinh);
                }
            }
    
            // Xử lý sự kiện click vào .tinh-item
            $('.tinh-item').click(function(event) {
                event.preventDefault();
    
                var tinhId = $(this).data('tinh-id');
                var tinhName = $(this).data('tinh-name');
    
                // Lưu tinh_name vào sessionStorage với key là search_tinh
                sessionStorage.setItem('search_tinh', tinhName);
    
                // Điều hướng đến trang search với tham số tinh_id và tinh_name
                var searchUrl = "{% url 'search' %}?tinh_id=" + tinhId + "&tinh_name=" + encodeURIComponent(tinhName);
                window.location.href = searchUrl;
            });
    
            // Xử lý sự kiện submit form
            $('#homeForm').submit(function(event) {
                event.preventDefault(); // Ngăn chặn việc submit form mặc định
    
                var search_tinh = $('#search_tinh_id').val();
    
                // Lưu giá trị search_tinh vào sessionStorage với key là search_tinh
                sessionStorage.setItem("search_tinh", search_tinh);
    
                // Nếu tinh_id không tồn tại, lưu search_tinh vào sessionStorage
                if (!tinh_id) {
                    sessionStorage.setItem("search_tinh", search_tinh);
                }
    
                // Tiếp tục submit form
                this.submit();
            });
        });
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          var danhgiaButtons = document.querySelectorAll('.danhgia');
          danhgiaButtons.forEach(function(button) {
              button.addEventListener('click', function() {
                  var hoadonId = this.getAttribute('data-hoadon-id');
                  var phongId = this.getAttribute('data-phong-id');
                  document.getElementById('hoadon_id').value = hoadonId;
                  document.getElementById('phong_id').value = phongId;
              });
          });
  
          var huyPhongButtons = document.querySelectorAll('.huyphong');
          huyPhongButtons.forEach(function(button) {
              button.addEventListener('click', function() {
                  var hoadonId = this.getAttribute('data-hoadon-id');
                  var phongId = this.getAttribute('data-phong-id');
                  document.getElementById('modal-hoadon-id').value = hoadonId;
                  document.getElementById('modal-phong-id').value = phongId;
              });
          });
      });
    </script>
  </body>
</html>