{% extends "app/base.html" %}
{% load static %}

{% block content %}
<section style="background-color: hsl(0, 0%, 96%)">
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" >
      <div class="containernew">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              Chào mừng đến <br />
              <span class="text-primary">Travel Nest</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
              "Chào mừng bạn đến với hệ thống quản lý đặt phòng tiện lợi của chúng tôi, nơi bạn có thể dễ dàng duyệt và đặt phòng từ nhiều khách sạn hàng đầu trong nước. Hãy trải nghiệm sự thuận tiện và linh hoạt trong việc lựa chọn và đặt phòng dễ dàng qua trang web của chúng tôi. Hãy bắt đầu bằng cách đăng nhập vào tài khoản của bạn."
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form method = "POST" action =''>
                  {% csrf_token %}
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    
                    <label class="form-label" for="form3Example3"><strong>User Name</strong></label>
                    <input type="text" name ='username' id="form3Example3" class="form-control" />
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    
                    <label class="form-label" for="form3Example4"><strong>Password</strong></label>
                    <input type="password" name='password' id="form3Example4" class="form-control" />
                  </div>
                  <button type="submit" class=" btn-primary btn-lg">
                    Đăng nhập
                  </button>
                  <p class="text-center text-muted mt-3">Bạn chưa có tài khoản? <a href="{%url 'dangky'%}"
                    ><u>Đăng ký</u></a></p></br>
                    {% for message in messages  %}
                    <p id='message' class="text-center text-muted"><strong>{{message}}</strong></p>
                    {% endfor %}
                  <!-- Register buttons -->
                  <div class="text-center">
                    <p>Hoặc kết nối với:</p>
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-facebook-f"></i>
                    </button>
  
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-google"></i>
                    </button>
  
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-twitter"></i>
                    </button>
  
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-github"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock content %}
