{% extends "app/base.html" %}
{% load static %}
{% block content %}
{% include "app/blocktimkiem.html" %}
<style>
    .search-layout {
        display: flex;
        gap: 20px;
        align-items: flex-start;
    }

    .search-form-container {
        flex: 0 0 250px; /* Đảm bảo form có chiều rộng cố định */
    }

    .search-results-container {
        flex: 1; /* Chiếm phần còn lại của chiều rộng */
    }
</style>
<div class='l'>
    <a class='t-link' href="{% url 'home'%}">Trang chủ </a>
    
    {% if tentinh %}
        <span> > </span>
        <a class='t-link' href="{% url 'search' %}?tinh_id={{ tinh_id }}&tinh_name={{ tinh_name }}">{{ tentinh.tentinh }}</a>
    {% else %}
        <span> > </span>
        <a class='t-link' href="{% url 'search' %}?tinh={{ search }}">{{ search }}</a>
    {% endif %}
    <span> > </span>
    <a>Kết quả tìm kiếm</a>
</div>

{% comment %} <div class='le' id="search-results">
    {% include 'app/search_form.html' %}
    <h3>{{ tentinh.tentinh }}: Tìm thấy {{ num_hotels_found }} chỗ nghỉ</h3>
    {% include 'app/search_results.html' %}
</div> {% endcomment %}
<div class='le search-layout' id="search-results">
    <div class='search-form-container'>
        {% include 'app/search_form.html' %}
    </div>
    <div class='search-results-container' id="search-results">
        <h3>{{ tentinh.tentinh }}: Tìm thấy {{ num_hotels_found }} chỗ nghỉ</h3>
        {% include 'app/search_results.html' %}
    </div>
</div>
{% endblock content %}
